<p>*為必填欄位</p>
<h1>請輸入你的支出</h1>
<form action="/new" method="POST">
  <div class="form-group">
    <label for="expenseName">名稱*</label>
    <input type="text"" class=" form-control" id="expenseName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>